:root {
	--black: #282828;
	--gray: #333;
	--white: #fdfdfd;
	--purple: #9a30fa;
	--green: #3b6;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--purple);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(
			180deg,
			rgba(154, 48, 250, 0.5) 0%,
			rgba(0, 0, 0, 0) 100%
		),
		var(--black);
	color: var(--white);
}

header {
	position: fixed;
	top: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100vw - 6rem);
	padding: 1rem 3rem;

	background: var(--black);
	opacity: 0.95;
	border-bottom: solid 1px var(--gray);
}

header > nav {
	display: flex;
	gap: 1rem;
}

header > nav > a {
	color: var(--white);
	font-size: 1.1rem;
}

header > nav > a:hover {
	transform: scale(1.2);
}

.title {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 2rem;
	width: 19rem;

	border-right: 1rem solid var(--white);
	padding-right: 1rem;

	overflow: hidden;

	animation: typing 2s steps(19, end), blink-animation 0.8s step-end infinite;
}

.hostname {
	color: var(--green);
}

.directory {
	color: var(--purple);
}

container {
	width: 70%;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.perfil-section {
	margin: auto;
	margin-top: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	font-size: 1.5rem;
}

.perfil-photo {
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	border: solid 5px var(--green);
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

.skills-section {
	width: 100%;
	gap: 1rem;
}

.skills-section > ul {
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	gap: 6.3%;
	margin-top: 1rem;

	animation: slide 2s forwards;
}

.skills-section > ul > li {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;

	padding: 1rem;
	background: var(--black);
	border-radius: 5px;
	border: solid 1px var(--gray);
}

.skills-section > ul > li:hover {
	transform: scale(1.3);
}

.aboutme-description {
	margin-top: 1rem;
	margin-left: 1rem;

	font-size: 1.1rem;
}

.personal-projects-section ul {
	display: grid;
	grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
	gap: 2rem;

	margin-top: 1rem;
}

.personal-projects-section li {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	background: var(--purple);
	padding: 1rem;
	border-radius: 5px;
	border: solid 1px var(--gray);
}

.personal-projects-section li:hover {
	transform: scale(1.1);
}

.project-description {
	margin-top: 1rem;
}

h6 {
	font-size: 1.5rem;
}

.screenshots {
	width: 100%;
	margin-top: 0.5rem;
}

.contactme-section {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	padding: 1rem;
}

.contactme-section > nav {
	display: flex;
	justify-content: space-around;
	align-items: center;

	height: 6rem;
}

.contactme-section svg:hover {
	transform: scale(1.5);
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 19rem;
	}
}

@keyframes blink-animation {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: var(--white);
	}
}
